langchain
langchain-community
langchain-groq
python-dotenv
langgraph
faiss-cpu
streamlit
fastembed
pillow
pymupdf
pytesseract
opencv-python-headless
tavily-python
web3
fastapi
uvicorn
python-multipart
